<table id="daysTable">
  <form id="daysWorkingForm" action="" method="post">
    <thead>
      <tr>
        <th class="underbooked"><label><input type="checkbox" name="dayCheck" value="Monday">Monday</label></th>
        <th class="underbooked"><label><input type="checkbox" name="dayCheck" value="Tuesday">Tuesday</label></th>
        <th class="underbooked"><label><input type="checkbox" name="dayCheck" value="Wednesday">Wednesday</label></th>
        <th class="underbooked"><label><input type="checkbox" name="dayCheck" value="Thursday">Thursday</label></th>
        <th class="underbooked"><label><input type="checkbox" name="dayCheck" value="Friday">Friday</label></th>
        <th class="underbooked"><label><input type="checkbox" name="dayCheck" value="Saturday">Saturday</label></th>
        <th class="underbooked"><label><input type="checkbox" name="dayCheck" value="Sunday">Sunday</label></th>
      </tr>
    </thead>
    <input type="submit" name="submitDaysWorking" value="Submit">
  </form>
</table>
