<table id="daysTable">
  <form id="daysWorkingForm" action="/" method="post">
    <thead>
      <tr>
        <th class="underbooked"><label><input type="checkbox">Monday</label></th>
        <th class="underbooked"><label><input type="checkbox">Tuesday</label></th>
        <th class="underbooked">Wednesday</th>
        <th class="underbooked">Thursday</th>
        <th class="underbooked">Friday</th>
        <th class="underbooked">Saturday</th>
        <th class="underbooked">Sunday</th>
      </tr>
    </thead>
</table>
