<div id="loginDiv">
  <h1>User Log In</h1>
  <form id="loginForm" action="/login" method="post">
    <input id="usernameInput" type="text" name="usernameInput">
    <input id="passwordInput" type="text" name="passwordInput">
    <input id="loginButton" type="submit" name="loginSubmit" value="Log In">
  </form>
  <p>{{output}}</p>
  <p><a href="/registration">Register</a></p>
</div>
