<div id="registrationDiv">
  <form id="registrationForm" action="/registration" method="post">
    <input type="text" name="usernameRegistration">
    <input type="text" name="passwordRegistration">
    <input type="submit" name="submitRegistration" value="Register">
  </form>

  <p>{{output}}</p>

  <p><a href="/">Login</a></p>
</div>
